@charset "utf-8";
/* ERUSAM 공통 CSS - common.css */

/***************** 1. 상단영역 *****************/
/* 상단영역 최상위 부모박스 */
#top-area{    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 상단영역이 항상위! */
    z-index: 9999;
    border-bottom: 1px solid #ccc;
} 
/* 상단영역 플렉스 부모박스 */
.top-area .cont-box{
    justify-content: space-between;    
    background-color: rgba(255, 255, 255, 0.8);
}
/* 로고박스 */
.logo-box{    
    flex: 1;
    width: 126px;
    /* text-align: center; */
    padding: 10px 0;
}
/* 세번째 박스 */
.etc-box{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
    padding-right: 34px;
}
.etc-box a img {
    width: 37px;
}

/* 메뉴박스 */
.menu-box{
    padding-right: 10px;
}

/* 메뉴그룹 플렉스 */
.menu-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 95%;
}
/* 상단영역 메뉴 공통 플렉스 */
.menu-group ul{
    display: flex;
}
/* 탑메뉴 */
.top-menu ul{
    font-size: 1.6rem;
    gap: 2rem;
}
/* GNB메뉴 가상요소 배경 */
.gnb-menu::before{
    content: '';
    position: absolute;
    margin-top: 69px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
    
    /* 트랜지션 */
    transition: .4s ease-out;
}

.gnb-menu:hover::before{
    height: 350px;
}
.gnb-menu>ul{
    font-size: 1.8rem;
    gap: 7vw;

}
.gnb-menu>ul>li{
    position: relative;
    /* 부모자격 */
}

/* 서브메뉴 */
.sub-menu {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: 200px;
    white-space: nowrap;
    box-sizing: border-box;
    /* background-color: #fff; */
    /* 서브메뉴를 숨기기위해 넘치는 자식 숨기기설정 */
    overflow: hidden;
    /* 높이값을 0으로 하면 자식요소가 숨겨짐!
    -> 단, 여기에 위아래 패딩을 줄 경우 숨겨지지 않는다! */
    height: 0;
    /* 처음에 최대높이값 셋팅필수! 그래야 트랜지션 먹음! */

    text-align: center;

    /* 트랜지션 */
    transition: .4s ease-out;
}
/* 부모 li에 마우스 오버시 .sub-menu 높이값 변경하기 */
.gnb-menu:hover>ul>li .sub-menu{
    height: 350px;
    /* 최대 높이값을 컨텐츠 높이값 보다 좀 더 크게 잡으면
    오버시 높이값이 내용만큼만 커지게 된다! */
}

/* 패딩만 내부에 다른 블록요소를 사용함!
-> 자식요소 숨기기 부모박스엔 패딩을 줄 수 없다! */
.padding-box{ 
    margin-top: 50px;
}

/* 타이틀 바 */
.title-bar{
    display: flex;
    justify-content: space-between;
    /* 글자크기 */
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
}
/* 서브메뉴 ul */
.sub-menu ul{
    display: flex;
    flex-direction: column;
    line-height: 4;
    border-radius: 20px;

    /* 글자크기 */
    font-size: 1.6rem;
}

/* 모바일 메뉴 버튼 */
.mob-menu-btn {
    font-size: 30px;
    display: none;
}

/***************** 3. 하단영역 *****************/
.bottom-area{    
    position: relative;
    
}
.question{
    padding: 10vh;
    text-align: center;
}
.question h2{
    font-size: 5vh;
    margin-bottom: 2vh;
}
.question h3{
    font-size: 4vh;
}
.btn-question{
    display: block;
    margin: 5vh auto;
    font-size: 3vh;
    width: 270px;
    height: 130px;
    border-radius: 70px;
    background-color: #555;
    color: #fff;
    line-height: 130px;
}   
/* 최하단 파트 */ 
.bottom-info{
    height: 20vh;
    background-color: #000;
    color: #fff;
}

/* 하단링크 */
.link-bar ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.link-bar a{
    font-size: 1.4rem;
    color: #ccc;
}
/* a링크 오버시 빨간색 글자 */
.link-bar a:hover{
    color: red;
}
.company-info{
    display: flex;
    align-items: center;
}
.company-info h3{
    font-size: 40px;
    padding: 5vh;
}
.company-info address{
    flex: 1;
    font-size: 1.2rem;
    line-height: 2;
}
