@charset "utf-8";
/* ERUSAM 메인 페이지 CSS - main.css */

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);
/* 12그리드 CSS */
@import url(./grid_12_flex.css);

/* 공사중 표시 */
/* body * {
    outline: 2px dashed #ccc;
} */

/***************** 메인 CSS *****************/
/***************** 1. 상단영역 *****************/
/* 상단영역 최상위 부모박스 */
#top-area{    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 상단영역이 항상위! */
    z-index: 9999;
    border-bottom: 1px solid #ccc;
} 
/* 상단영역 플렉스 부모박스 */
.top-area .cont-box{
    justify-content: space-between;    
    background-color: rgba(255, 255, 255, 0.8);
}
/* 로고박스 */
.logo-box{    
    flex: 1;
    width: 126px;
    /* text-align: center; */
    padding: 10px 0;
}
/* 세번째 박스 */
.etc-box{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
    padding-right: 34px;
}
.etc-box a img {
    width: 37px;
}

/* 메뉴박스 */
.menu-box{
    padding-right: 10px;
}

/* 메뉴그룹 플렉스 */
.menu-group{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 95%;
}
/* 상단영역 메뉴 공통 플렉스 */
.menu-group ul{
    display: flex;
}
/* 탑메뉴 */
.top-menu ul{
    font-size: 1.6rem;
    gap: 2rem;
}
/* GNB메뉴 가상요소 배경 */
.gnb-menu::before{
    content: '';
    position: absolute;
    margin-top: 55px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
    
    /* 트랜지션 */
    transition: .4s ease-out;
}

.gnb-menu:hover::before{
    height: 350px;
}
.gnb-menu>ul{
    font-size: 1.8rem;
    gap: 7vw;

}
.gnb-menu>ul>li{
    position: relative;
    /* 부모자격 */
}

/* 서브메뉴 */
.sub-menu {
    position: absolute;
    left: 50%;
    translate: -50%;
    width: 200px;
    white-space: nowrap;
    box-sizing: border-box;
    /* background-color: #fff; */
    /* 서브메뉴를 숨기기위해 넘치는 자식 숨기기설정 */
    overflow: hidden;
    /* 높이값을 0으로 하면 자식요소가 숨겨짐!
    -> 단, 여기에 위아래 패딩을 줄 경우 숨겨지지 않는다! */
    height: 0;
    /* 처음에 최대높이값 셋팅필수! 그래야 트랜지션 먹음! */

    text-align: center;

    /* 트랜지션 */
    transition: .4s ease-out;
}
/* 부모 li에 마우스 오버시 .sub-menu 높이값 변경하기 */
.gnb-menu:hover>ul>li .sub-menu{
    height: 350px;
    /* 최대 높이값을 컨텐츠 높이값 보다 좀 더 크게 잡으면
    오버시 높이값이 내용만큼만 커지게 된다! */
}

/* 패딩만 내부에 다른 블록요소를 사용함!
-> 자식요소 숨기기 부모박스엔 패딩을 줄 수 없다! */
.padding-box{ 
    margin-top: 50px;
}

/* 타이틀 바 */
.title-bar{
    display: flex;
    justify-content: space-between;
    /* 글자크기 */
    font-size: 3.6rem;
    margin-bottom: 2.4rem;
}
/* 서브메뉴 ul */
.sub-menu ul{
    display: flex;
    flex-direction: column;
    line-height: 4;
    border-radius: 20px;

    /* 글자크기 */
    font-size: 1.6rem;
}

/* 모바일 메뉴 버튼 */
.mob-menu-btn {
    font-size: 30px;
    display: none;
}

/***************** 1.5. 드라마파트메뉴 *****************/
/***************** 2. 메인영역 *****************/

/* 공통 클래스  */
.tit{
    width: calc(100%/3);
    height: 100vh;
    line-height: 100vh;
    background-color: #0000007e;
    color: #fff;
    text-align: center;
    font-size: 7rem;
    font-weight: normal;
}


/***************** 2-1. 배너영역 *****************/
.banner-part{
    height: 100vh;
}
/* 배너박스 */
.banner-box{
    position: relative;
    /* 부모자격 */

    /* 배너이미지크기 */
    height: 100%;
    /* 넘치는 배너 숨기기 */
    overflow: hidden;
}
/* 배너슬라이드 */
.banner-slide{
    /* 플렉스박스 */
    display: flex;
    /* 슬라이드 개수만큼 크기를 설정해준다! */
    width: 100%;
    /* 배너이미지크기 */
    height: 100%;
}
/* 배너 슬라이드 li */
.banner-slide li{
    position: relative;
    /* 부모자격 */
    /* 늘어나게 설정 */
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
}

/* 배너이미지 */
.banner-slide img{
    width: 100%;
    height: 100%;
    /* object-fit: cover
    일반 이미지를 배경처럼 처리해준다!
    비율에 맞게 박스를 가득 채움! */
    object-fit: cover;
    scale: 1.3;
    transition: 4s ease-in-out;
}
.banner-slide li.on img{
    scale: 1;
}

/* 배너타이틀 */
.banner-slide h2{
    position: absolute;
    bottom: 18vh;
    left: 9.6vw;
    font-size: 50px;
    color: #fff;
    text-shadow: 2px 2px 2px #666;
    font-weight: 100;
}
.banner-slide h2 b {
    font-size: 60px;
}

/* 이동버튼 그룹 */
.abtn-grp{
    position: absolute;
    bottom: 11vh;
    width: 10vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    left: 8%;
    /* outline: 1px solid red; */
}
/*이동버튼*/
.abtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /*Y축 중앙이동*/
}
.abtn img{
    width: 20px;
}

/*왼쪽버튼*/
.ab1 {
  left: 50px;
}

/*오른쪽버튼*/
.ab2 {
  right: 50px;
}


/***************** 2-2. product영역 *****************/
.product-part{
    position: relative;
    height: 100vh;
    background: url(../images/product_bg.png) no-repeat center/cover;
}

.product-part .icon-box{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 25vw;
    width: 10vw;
    aspect-ratio: 1.2;
    /* outline: 1px solid red; */
}
.product-part .icon-box li{
   position: absolute;
    top: -71%;
    left: 50%;
    translate: -50% 0;
    width: 180%;
    aspect-ratio: .9;
    background-color: rgba(6, 77, 120, 0.39);
    padding-top: 2vh;
    text-align: center;
    border-radius: 70px;
    box-sizing: border-box;
    transition: .4s 
}
.product-part .icon-box li:nth-child(1){
    translate: -50% -300%;
    scale: .3;
    opacity: 0%;
}
.product-part .icon-box li:nth-child(2){
    translate: -50% -100%;
    scale: .6;
    opacity: 0%;
}
.product-part .icon-box li:nth-child(3){
    translate: -50% 0%;
}
.product-part .icon-box li:nth-child(4){
    translate: -50% 100%;
    scale: .6;
    opacity: 0%;
}
/* 4번li 이후의 모든 li 디자인 */
.product-part .icon-box li:nth-child(4)~li{
    translate: -50% 300%;
    scale: .3;
    opacity: 0;
}
/* 4번li 이후의 모든 li 이미지 예외 디자인 */
.product-part .icon-box li.ex img{
    top: 35%;
    height: auto;
    width: 50%;
}
.product-part .icon-box img{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    /* width: 100%; */
    height: 40%;
    transition: .4s ease-in-out;
}
.btn-grp{
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 10vw;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* outline: 1px solid red */
}
/* Product 위아래 이동버튼 */
.btn-grp button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ffffff7b;
    border: none;
    font-size: 30px;
    color: #555;
    cursor: pointer;
}

/* 아이콘 텍스트 박스 */
.icon-txt-bx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    /* outline: 1px solid red; */
}


/* 아이콘 타이틀 */
.product-part .icon-box li h2{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.0vw;
    color: #fff;
    text-shadow: 2px 2px 2px #666;
    opacity: 0;
    white-space: nowrap;
    /* 트랜지션 */
    transition: .8s .5s;
}
/* 아이콘 타이틀 설명 */
.product-part .icon-box li h3{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: #fff;
    text-shadow: 2px 2px 2px #666;
    opacity: 0;
    /* 트랜지션 */
    transition: .8s .8s;
}

.product-part .icon-box li:nth-child(3) img{
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    width: 45%;
    height: auto;
}

.product-part .icon-box li:nth-child(3) h2{
    bottom: 50%;
    opacity: 1;
}
.product-part .icon-box li:nth-child(3) h3{
    bottom: 10%;
    opacity: 1;
}

    
/***************** 2-3. About Us 영역 *****************/
.aboutus-part{
    position: relative;
    /* 부모자격 */
    height: 100vh;
    
    background: url(../images/aboutus5.png) no-repeat right/cover;
}
.aboutus-part .icon-box {
    position: absolute;
    top: 54%;
    right: 31vw;
    translate: 0 -50%;
    width: 190px;
    height: 190px;
    /* outline: 1px dashed red; */
}
.aboutus-part .icon-box li{
    position: absolute;
    top: -25px;
    width: 100%;
    height: 100%;
}
.aboutus-part .icon-box li img{
    width: 100%;
    height: 100%;

}
.aboutus-part .icon-box li:nth-child(1) {
    translate: 0 -24vmin;
}
.aboutus-part .icon-box li:nth-child(2) {
    translate: 21vmin 0;
}
.aboutus-part .icon-box li:nth-child(3) {
    translate: 0 24vmin;
}
.aboutus-part .icon-box li:nth-child(4) {
    translate: -21vmin 0;
}

/* About us 아이콘박스 글자 */
.aboutus-part .icon-box li h4{
    text-align: center;
    font-size: 2.5rem;
    color: #000;
    text-shadow: 2px 2px 2px #fff;
}
/***************** 2-4. 미리보기영역 *****************/
.view-part{
    height: 660px;
}
/***************** 2-5. 현장포토영역 *****************/
.real-part{
    height: 906px;
}
/***************** 2-6. 대표포스터영역 *****************/
.poster-part{
    height: 654px;
}
/***************** 2-7. 최신동영상영역 *****************/
.video-part{
    height: 409px;
}
/***************** 3. 하단영역 *****************/
.bottom-area{    
    position: relative;
    
}
.question{
    padding: 10vh;
    text-align: center;
}
.question h2{
    font-size: 5vh;
    margin-bottom: 2vh;
}
.question h3{
    font-size: 4vh;
}
.btn-question{
    display: block;
    margin: 5vh auto;
    font-size: 3vh;
    width: 350px;
    height: 130px;
    border-radius: 70px;
    background-color: #555;
    color: #fff;
    line-height: 130px;
}   
/* 최하단 파트 */ 
.bottom-info{
    height: 20vh;
    background-color: #000;
    color: #fff;
}

/* 하단링크 */
.link-bar ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.link-bar a{
    font-size: 1.4rem;
    color: #ccc;
}
/* a링크 오버시 빨간색 글자 */
.link-bar a:hover{
    color: red;
}
.company-info{
    display: flex;
    align-items: center;
}
.company-info h3{
    font-size: 40px;
    padding: 5vh;
}
.company-info address{
    flex: 1;
    font-size: 1.2rem;
    line-height: 2;
}